mn-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  visibility: hidden;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;


  display: flex;
  overflow: auto;

  &.opened {
    visibility: visible;
    z-index: 101;
  }
}
