mn-dialog {
  header {
    margin-bottom: 10px;

    h2 {
      margin: 0; padding: 0;
      flex: auto;
    }

  }

  &:not(.disable-click-outside) {
    @media (min-width: 768px) {
      & > button[close-dialog]:first-of-type,
      header button[close-dialog] {display: none !important}
    }
  }

  & > button[close-dialog]:first-of-type,
  header button[close-dialog] {
    position: absolute !important;
    top: 0;
    right: 0;
  }
}
