mn-dialog {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    h2 {
      margin: 0; padding: 0;
      flex: auto;
    }

    @media (min-width: 768px) {
      button, a {display: none !important}
    }
  }

  button[close-dialog]:first-of-type,
  header button[close-dialog] {
    position: absolute;
    top: 0;
    right: 0;
  }
}
