.mn-dialog {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    h2 {
      margin: 0; padding: 0;
      flex: auto;
    }
  }

  &.padding {padding: 1.6em 3em}

  &.padding-header {
    header {
      padding: 1em;
    }
  }
}
