html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-dialog.css')

  style.

    mn-dialog h2 {font-weight: normal}
    .zmdi-close {font-size: 2em}

body
  h2 mn-dialog
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      div.layout-row.align-center
        button.mn-button(open-dialog='dialog1') Show dialog 1
        button.mn-button(open-dialog='dialog2') Show dialog 2

  mn-dialog.padding-title#dialog1
    header
      h2 Title of dialog 1
      button.mn-button.action(close-dialog): .zmdi.zmdi-close
    .mn-table-list
      a.mn-item(href='' close-dialog)
        span John Snow
        span iknownothing@snow.com

      a.mn-item(href='' close-dialog)
        span Daenerys Targaryen
        span motherofdragons@targaryens.com

      a.mn-item(href='' close-dialog)
        span Tyrion Lannister
        span theimp@lannisters.com

    //- .layout-row.align-end
      button.mn-button(open-dialog='dialog2') Show dialog 2

  mn-dialog.padding#dialog2
    header
      h2 Title of dialog 2
      button.mn-button.action(close-dialog): .zmdi.zmdi-close

    div
      p Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

      p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper.

      p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

      p Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.

      p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

      p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

    .layout-row.align-end
      button.mn-button(open-dialog='dialog1') Show dialog 1

  .docs.layout-container
    mn-code.sh.
      bower install --save mn-dialog

    p Or just download the main files, located in dist/

    h3 usage
    p Add to your html, the tag <strong class="tag">mn-dialog</strong> and assign to it an <string class="attr">id</strong>, e.g.
    mn-code.html.
      <mn-dialog id="example">
        <!-- here goes the content of your dialog -->
      </mn-dialog>

    p and to open this dialog, you can add to any element (we suggest a button), the attibute `open-dialog` with id as value, e.g.
    
    mn-code.html.
      <!-- when click in the button, dialog will be opened -->
      <button open-dialog="example">Open dialog</button>

    p finally, to close the button, user can click outside of dialog, or press the key `esc`, but if you can add to another element, use the attribute `close-dialog`, e.g.
    mn-code.html.
      <!-- id of dialog dont be required -->
      <button close-dialog>X</button>

    h3 javascript
    p If you want to use javascript to open or close a mn-dialog, just use these methods, available directly on element, e.g.
    mn-code.js.
      const dialog = document.querySelector('mn-dialog#example')
      dialog.open() // open the dialog

      setTimeout(function() {
        dialog.close() // close the dialog
      }, 2000) // after 2 seconds :D

    h3 disable click outside
    p In desktop, maybe you want disable click outside closing, you can do this, adding a class <strong>.disable-click-outside</strong>, e.g.

    mn-code.html.
      <mn-dialog id="example" class="disable-click-outside"></mn-dialog>

    p and, if you have a lot of dialogs, and want disable all, just define in javascript, using the method <strong>.clickOutside()</strong>, e.g.

    mn-code.js.
      MnCode.clickOutside(false) // disable


  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-dialog.js')

  script.
    var links = document.querySelectorAll('mn-dialog a[href]')
    Array
        .from(links)
        .forEach(function(link) {
          link.addEventListener('click', preventDefault)
        })

    function preventDefault(event) {
      event.preventDefault()
    }

