html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='mn-dialog.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
body
  h1 Minimalist dialog

  div
    include ../imgs/filter.svg
    button(data-toggle-dialog) Show dialog
  .mn-dialog
    header
      h2 Title of dialog
      span.zmdi.zmdi-close.zmdi-hc-2x(data-toggle-dialog)
    mn-dialog content
  
  script(src='mn-dialog.js')

