html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='vendor.css')
  link(rel='stylesheet' href='mn-dialog.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
body
  h1 Minimalist dialog

  div
    button(data-open-dialog) Show first dialog
    button(data-open-dialog='dialog1') Show dialog 1
    button(data-open-dialog='dialog2') Show dialog 2

  .mn-dialog.mn-card.padding-header#dialog1
    header
      h2 Title of dialog 1
      span.zmdi.zmdi-close.zmdi-hc-2x(data-close-dialog)
    div content

  .mn-dialog.mn-card.padding-header#dialog2
    header
      h2 Title of dialog 2
      span.zmdi.zmdi-close.zmdi-hc-2x(data-close-dialog)
    div content
  
  script(src='mn-dialog.js')

